.form-container-category-add {
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #4e9af1;
    padding: 10px;
}

.form-header h2 {
   
    font-weight: 600;
    color: white;
    margin: 0;

}

.category-add-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group-left {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group select {
    appearance: none;
    background-color: #fff;
}
.form-group label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-category-add input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.radio-group {
    display: flex;
    gap: 15px;
    align-items: center;
}

.radio-group label {
    font-size: 16px;
    color: #555;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.submit-btn {
    background-color: #4e9af1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}
/* 
.submit-btn:hover {
    background-color: #218838;
} */
